<header>
  <div class="logo">
    <h1>Apli Website</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/home" class="active">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/APLAAI">APLA AI</a></li>
    </ul>
  </nav>
  <div class="icons">
    <a href="/dashboard" class="icon"><i class="fas fa-user"></i></a>
  </div>
</header>
