<% layout('layouts/boilerplate') %>

<div class="container">
  <main>
    <section class="hero">
      <div class="hero-content">
        <h2>Apli Website</h2>
        <div class="gallery">
          <div class="domain-btn">
            <p>
              Here is domain option choose one you got path for it form zero to
              Advance <br />
              If you have skills and want to find your domain use Apla AI
            </p>
            <button class="explore-btn"><a href="/domain">Domain options</a></button>
          </div>
          <div class="animation">
            <h2 class="slide-text">APLI WEBSITE</h2>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
